{% extends "base.html" %}
{% block title %}Lembretes{% endblock title %}
{% block content %}
<center>
<h1>Lista de Lembretes</h1>

<a class="add-btn" href="{% url 'lembrete_create' %}">Adicionar Novo Lembrete</a>

<div class="lembretes-container">
    {% for lembrete in lembretes %}
    <div class="lembrete-card">
        <div class="lembrete-actions">
            <a class="btn-editar" href="{% url 'lembrete_update' lembrete.pk %}">Editar</a>
            <a class="btn-excluir" href="{% url 'lembrete_delete' lembrete.pk %}">Deletar</a><br>
            <span>Criado em: {{lembrete.data}} </span>
        </div>
        <a class="lembrete-titulo" href="{% url 'lembrete_detail' lembrete.pk %}">{{ lembrete.titulo }}</a> <br>
        <span>{{ lembrete.descricao }}</span>  
        <span>{{ lembrete.email }}</span>

    </div>
    {% endfor %}
</div>
</center>
{% endblock content %}
